body {
  font-family: "Ruda", sans-serif;
  margin: 4em;
}

.remark-preview-area {
    opacity: 0.2;
    transform: scale(0.8);
}

.remark-preview-area {
    opacity: 0.2;
}

.remark-notes-area .remark-bottom-area .remark-notes-preview-area p{
    opacity: 0.4;
    font-size: 90%;
}

.nomargin {
    margin: 0;
    padding: 0;
}

.nomargin img {
    display: block;
    margin-left: -145px;
    width: 120%;
}

.pcenter {
  display: block;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.6;
}

.remark-notes p {
    font-size: 18px;
}

li {
  font-size: 22px;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-top: 0.5em;
  margin-bottom: 0;
}

li li:not(:last-child) {
  margin-bottom: 0;
  margin-top: 0;
}

.remark-slide-content > ul > li {
  margin-bottom: 0.5em;
}

.remark-slide-content > ul > li:not(:last-child) {
  margin-bottom: 0.5em;
}
.remark-slide-content h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-block-end: 35px;
  margin-block-start: 35px;
  line-height: 1.5;
}

.remark-slide-content h3 {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-block-end: 0;
  margin-block-start: 35px;
}

.remark-slide-content h1, h3 {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 45.4px;
}
.redbar {
  border-left: 40px solid red;
}
.redbar2 {
  border-left: 40px solid #f88;
}
.bluebar {
  border-left: 40px solid blue;
}
.greenbar {
  border-left: 40px solid green;
}
.greenbar2 {
  border-left: 40px solid lightgreen;
}
.detail-right p {
    text-align: right;
    font-size: 90%;
    color: #999999;
}
.term {
  background: #112211;
  color: #aaffaa; /* #4af626; */
}

.conceito {
  background: #f1ffdc;
  color: #444;
  border-left: 20px solid #576242;
  padding-left: calc(80px - 20px);
}

.comando {
  background: aliceblue;
  color: #444;
  border-left: 20px solid darkblue;
  padding-left: calc(80px - 20px);
}

.secao-blue {
  background: #223322;
  color: #4af626;
}

.secao1 .remark-slide-number,
.nonum .remark-slide-number {
    visibility: hidden;
}

.secao2 {
  background: darkslategray;
  color: white;
}
.secao3 {
  background: darkred;
  color: white;
}
.secao4 {
  background: darkgreen;
  color: white;
}
.secao5 {
  background: indigo;
  color: white;
}
.secao6 {
  background: green;
  color: white;
}
table {
  width: 100%;
  font-size: 82%;
  border-collapse: collapse;
}
table tr {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}

table {
  --table-line-color: #88b;
  --table-line-width: 2px;
}
table thead td {
  border-top: var(--table-line-width) solid var(--table-line-color);
  border-bottom: var(--table-line-width) solid var(--table-line-color);
}
table td {
  padding: 0.3rem;
  font-family: arial;
}

.light {
    font-size: 80%;
    color: #88a;
}

table td:nth-child(2) {
  border-left: var(--table-line-width) solid var(--table-line-color);
  text-align: right;
}

table thead td:not(:first-child) {
  border-left: var(--table-line-width) solid var(--table-line-color);
}

table td:nth-child(4) {
  text-align: center;
  border-left: var(--table-line-width) solid var(--table-line-color);
}

thead tr td {
  text-align: left;
  font-weight: bold;
}

blockquote {
  margin: 1em 0 1em 0;
  border: 1px solid gray;
  background: HoneyDew;
  padding: 0 1em 0 1em;
  line-height: 1.6;
  text-align: left;
}

.single-quote p {
    text-align: left;
    font-size: 150%;
}

.right {
    text-align: right;
}

blockquote address {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.quote {
  font-style: italic;
  border-left: 10px blue solid;
  padding-left: 20px;
}
.green {
  color: green;
}
.bgreen {
  color: green;
  font-weight: bold;
}
.byellow {
  color: yellow;
  font-weight: bold;
}
.red {
  color: red;
}
.bred {
  color: red;
  font-weight: bold;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.purple {
  color: purple;
}
.b {
  font-weight: bolder;
}
.bblue {
  color: blue;
  font-weight: bold;
}
.bpurple {
  color: purple;
  font-weight: bold;
}
.borange {
  color: darkorange;
  font-weight: bold;
}
.quote-green {
  font-size: 120%;
  font-style: italic;
  border-left: 10px green solid;
  padding-left: 20px;
  line-height: 2.0;
}

.hljs-default .hljs, .hljs-default .hljs-subst,
.remark-code, .remark-inline-code {
    font-weight: 400;
    font-family: 'Roboto Mono';
    padding: 2px 4px 3px 4px;
    border-radius: 4px;
    color: #777;
    line-height: 1.3;
}

.key {
    color: #262;
    border-radius: 5px;
    padding: 1px 4px 1px 3px;
    border: 1px solid #5a5;
    font-size: 95%;
    background: #ffe;
}

.quote p {
  line-height: 1.6;
}
