.nomargin img {
    display: block;
    margin-left: 0;
    width: 100%;
}

.left-column {
    float: left;
}

.right-column {
    float: right;
}

.footnote p {
    font-size: 80%;
    bottom: 0px;
    left: 20px;
    opacity: .5;
    position: absolute;
}

li:first-child {
    margin-top: -10px;
}

/* Estas regras podem ir pra all-slides? */
.remark-slide-content > ul > li {
  margin-bottom: 0;
}

.remark-slide-content > ul > li:not(:last-child) {
  margin-bottom: 0;
}
